body {
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-fast-food-hand-drawn-frame-and-background-for-design-picture-image_1203973.jpg');        
    background-size:cover;   
    background-position: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: black;
  }
  
  .welcome-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .welcome-text h1 {
    font-size: 36px;
    font-weight: bold;
  }
  